@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text {
  background: linear-gradient(90deg, #8e2de2, #4a00e0, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.carasoal{
  scrollbar-width: none;
}

*{
  scroll-behavior: smooth;
}

/* CSS for the hover effect */
.icon-hover {
    color: black; /* Starting color */
    transition: color 0.3s ease;
  }
#github:hover {
    color: #6366F1; /* Indigo */
  }
  
#linkdin:hover {
    color: #A855F7; /* Purple */
  }
  
 #insta:hover{
    color: #EC4899; /* Pink */
  }



/* Scroll bar  */

.custom-scroll::-webkit-scrollbar {
  width: 8px; /* Adjust this if you want to completely remove the scrollbar */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* This makes the scrollbar thumb (the draggable part) invisible */
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* This makes the scrollbar track (the background) invisible */
}


/* for Project Section */
/* Add this to your global stylesheet (e.g., styles/globals.css) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color on hover */
}



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}